/.bash_history
/.bash_logout
/.bashrc
/.cache
/.docker
/.dotnet
/.ipython
/.local
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.swp
/.vscode-server
/bash scripts
/monke
/monke_classifier.sh
/mysquare
/prova.sh
/.azure
/.aws
.env
/.config
mysquareAi_adminCred.json
mysquareAi_adminCred.json:Zone.Identifier
